Source: yasp
Section: admin
Priority: optional
Maintainer: Hideki Yamane <henrich@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://github.com/henrich/yasp
Vcs-Git: git://github.com/henrich/yaps
Vcs-Browser: https://github.com/henrich/yasp

Package: yasp
Architecture: all
Depends: ${misc:Depends}, aufs-tools
Description: Yet Another Simple/Speedy piuparts
 yasp is yet another implementation for testing Debian package installations
 (install, remove, purge and upgrade). It uses COW function and faster than
 piuparts (but its functions are limited since it's under development stage).
